- if @can_edit
  %p.rounded-full.py-1.px-4.bg-gray-400.ext-xs.inline-block.text-gray-700.leading-normal.mr-2
    Voce está editando a estratégia. Use
    %span.key V
    para carregar,
    %span.key D
    para Apagar o último ponto criado, e
    %span.key S
    para Salvar.