%p.instructions
  Estes são os pontos no traçado onde sua roda Dianteira deve passar:
  %li Se o ponto for do lado direito, sua roda direita deve passar nesse ponto.
  %li Se o ponto for do lado esquerdo, sua roda esquerda deve passar nesse ponto.
  %br