<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">Edit Track</h1>
      <%= link_to 'Cancel', @track, class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
      <%= render 'form', track: @track %>
    </div>
  </div>
</div>
